
Library
Temp
obj
Logs
Assets/texture
Assets/texture.meta
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
.vs/SmallGames/v16/.suo
ProjectSettings/ProjectVersion.txt
Assets/Shader/Unlit_ImageUVShader.mat
.vs/SmallGames/v16/.suo
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Assets/Shader/Unlit_ImageUVShader.mat
ProjectSettings/ProjectVersion.txt
.vs/ProjectQ/v15/.suo
.vs/ProjectQ/v15/.suo
.vs/ProjectQ/v15/.suo
.vs/ProjectQ/v15/Server/sqlite3/storage.ide
.vs/ProjectQ/v15/Server/sqlite3/storage.ide-shm
.vs/ProjectQ/v15/Server/sqlite3/storage.ide-wal
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
